@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Pîrciu Radu-Alexandru<br />
    Student, Developer in the making<br />
</address>

<address>
    <a target="_blank" href="https://github.com/AlexPirciu"><span class="fab fa-2x fa-github"></span></a>
    <a target="_blank" href="https://www.linkedin.com/in/alex-pîrciu-0a2137153/"><span class="fab fa-2x fa-linkedin"></span></a>
</address>
